:root {
    --link-color: #4a76ee;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color)
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
}